<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bookmark</title>

	<script src="/public/js/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=News+Cycle:400,700">
    <link rel="stylesheet" href="/public/fonts/font-awesome.min.css">
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">

    <link rel="stylesheet" href="/public/css/main.css">
	<link rel="stylesheet" href="/public/css/UserProfile.css">
</head>
<header>
    <a class="header-links" href="/logout">Logout</a>
    <a class="header-links" href="/signup">Sign-Up</a>
    <a class="header-links" href="/cart">Shopping Cart</a>
    <a class="header-links" href="/user">My Profile</a>
    <h1>Bookmark</h1>
</header>
<body>
    {{{body}}}
    <a class="footer-links" href="/">Return To Main Page</a>
</body>
</html>